.textosNaPagina{
  font-family: 'Times New Roman';
  font-size: 20px;
}

body{
  background-color:#F6F6D4;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 700px;

}
#titulo1 {
  background-color: #af1010;
  text-align: center;
  font-size: 42px;
  line-height: 71px;
  color: white;
  font-family: 'Meiryo UI';
}

#div2 {
  background-image: url();
  width:667px;
  height:456px;
  text-align: justify;
  opacity: 0.7;
}

#div1 {
  width:667px;
  height:456px;
  text-align: justify;
  opacity: 0.7;
}

.links_pretos {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

ul {
  list-style-type:disc;
  font-size: 15px;
  text-align: left;
  background-color: #af1010;
  color: white;
  font-family: 'Meiryo UI';
  padding: 20px;
}

ul li {
  margin: 5px;
}

#link {
  color: white;
  text-decoration: none;
}

.coisas_grandes_centrais{
  font-size: 20px;
  text-align: center;
}
